.input-border{
    border-radius: 12px;
    border-color: #5C7EF7;
}

.label{
    font-family: IBM Plex Sans;
    font-size: 8px;
    color:#EB6F5A;
    font-weight: 500;
    
    }
    .header{
        color: #1F1F1F;
        font-size: 24px;
        font-weight: bold;
    }
    
    .border-blue{
        border: 0.5px solid  #5C7EF7 ;
        
        border-radius: 12px;
    }


    