<section>
  <div class="container my-3 ">
    <div class="row">
      <div class="col-lg-9 col-12">
        <div class="header my-5">CONTACT DETAILS</div>
        <div class="">
            <div class="input-group mb-3 input-border">
                <div class="input-group-prepend w-50 d-flex align-items-left">
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/img/Group 19832.svg" alt="">
                  </span>
                  <div class="form-floating w-100 ">
                    <input type="text" class="form-control " aria-label="name" placeholder="Name" id="floatingInput"
                      formControlName="name" aria-describedby="basic-addon1" >
                    <label for="floatingInput" class="label">Full name</label>
                  </div>
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend w-50 d-flex align-items-left">
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/img/Group 19851.svg" alt="">
                  </span>
                  <input type="text" class="form-control" aria-label="email" placeholder="Type your Email here"
                    formControlName="email" aria-describedby="basic-addon1">
                </div>
              </div>

              <div class="input-group mb-3">
                <div class="input-group-prepend d-flex justify-content-center w-50">
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/img/Group 24830.svg" alt="">
                  </span>
                  <div class="form-floating w-100">
                    <input type="text-area" class="form-control" aria-label="phoneNumber" placeholder="Phone number"
                      formControlName="phoneNumber" aria-describedby="basic-addon1">
                    <label for="floatingInput" class="label">Phone number</label>
                  </div>
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/img/cart icons/Group 24843.svg" alt="">
                  </span>
                </div>
              </div>
        </div>
    </div>
    </div>
  </div>
   
</section>