.card-title{
    font-family: IBM Plex Sans;
    font-size: 24px;
    font-weight: Bold;
}

.shipping-button {
    background-image: linear-gradient(
        to right,#DD6E5B , #CE5B79
    );
    color:#FFFFFF;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
}
.cart-details{
    font-family: IBM Plex Sans; 
    font-weight: normal;
    font-size: 20px;

}

.label{
    font-family: IBM Plex Sans;
    color: #EB6F5A;
    font-weight: 500;
    font-size: 8px;

}