<div class="d-flex flex-column justify-content-center">
    <div class="card">

      <div class="card-body">
        <div class="card-title text">Order summary</div>
       <div class="d-flex justify-content-between align-items-center">
        <div class="cart-details">Subtotal : </div>
        <div class="cart-details">450$</div>
       </div>
       <div class="d-flex justify-content-between align-items-center">
        <div class="cart-details">Shipping : </div>
        <div class="cart-details">Free</div>
       </div>
        <hr class="hr">
        <div class="d-flex justify-content-left align-items-center">
          <div class="fw-bolder ">Total : </div>
          <div class="fw-bolder ms-2"> 450$ </div>
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend d-flex justify-content-center ">
            <span class="input-group-text"><img src="../../../assets/img/cart icons/Group 24827.svg" alt=""></span>
            <div class="form-floating">
              <input type="text-area" class="form-control" aria-label="phoneNumber" placeholder="Phone number"
                formControlName="phoneNumber" aria-describedby="basic-addon1">
              <label for="floatingInput" class="label">Voucher Added</label>
            </div>
          <button class="border-0 input-group-text"><img src="../../../assets/img/cart icons/Group 24820.svg" alt=""></button>
          </div>
        </div>

        <button class="btn btn-light btn-block mt-3 w-100 text-center shipping-button py-3 px-4" routerLink="/shipping-details">Go to shipping details</button>
        <div class="mt-4 text-center">
          <a class="text-decoration-none fw-bolder" style="color: black;" href=""> Back to shipping details</a>
         </div>
      </div>
    </div>
  </div>