$font-family:IBM Plex Sans;

.title{
    font-weight: bold;
    font-family: $font-family;
    font-size:20px;

}

.content{
    font-family: $font-family;
    font-size: 16;
    color: #1F1F1F;
    text-decoration: none;

}
.icons{
    max-width: 100%;
    width:180px;
}