<div class="container my-5">
  <div class="row">
    <div class="col-6">
      <div class="d-flex justify-content-left text-align-center mb-2">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img class="mb-2" src="../../../assets/img/single product icons/Image 4.svg" alt="">
          <img class="mb-2" style="width: 80px; height:98px;" src="../../../assets/img/single product icons/Image 3.svg"
            alt="">
          <img class="mb-2" src="../../../assets/img/single product icons/Image 8.svg" alt="">
          <img class="mb-2" src="../../../assets/img/single product icons/Image 6.svg" alt="">




        </div>
        <img class="img" src="../../../assets/img/single product icons/Image 3.svg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex flex-column justify-content-center align-items-start">
            <div class="text-align-center text mr-5">Smart Keyboard for
              10.5inch iPad Pro -
              US English
            </div>
            <div class="text-start price"> 159.00 $</div>
            <div class="d-flex justify-content-between align-items-center">
              <img src="../../../assets/img/single product icons/Group 24895.svg" alt="">
              <div class="">(360 Rates)</div>
            </div>
            <div class="d-flex justify-content-between align-items-center  mt-4 ms-4">
              <div class="d-flex justify-content-center align-items-center ">
                <img src="../../../assets/img/single product icons/Group 24898.svg" alt="">
                <div class="wish-list">Add to wishlist</div>
              </div>
              <div class="d-flex justify-content-center align-items-center ms-5">
                <img src="../../../assets/img/single product icons/Group 24899.svg" alt="">
                <div class="share">Share</div>
              </div>
            </div>
            <div class="mt-4 d-flex justify-content-center align-items-center">
              <img src="../../../assets/img/single product icons/Group 24906.svg" alt="">
              <button class="btn btn-primary border-0 button ">Add to cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row my-5">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center text-center">
        <a class="header text-decoration-none">Overview </a>
        <a class="header text-decoration-none">Tech Specs </a>
        <a class="header text-decoration-none"> Accessories </a>
        <a class="header text-decoration-none"> Reviews</a>

      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="text-start text-sm-center p mt-5 w-100">
          This DisplayPort to VGA adapter lets you connect your DP computer to a VGA monitor or projector. The adapter
          works with DisplayPort computers like your HP Elitebook Revolve 810 G3.
          Easily connect your DisplayPort computer to a VGA display
          <br>
          The DP to VGA adapter lets you connect your DisplayPort laptop or desktop computer to a VGA display. The
          adapter
          supports plug-and-play connectivity ensuring a hassle-free setup.
          The DisplayPort adapter makes your DP computer fully compatible with existing VGA monitors or projectors in
          your
          home or around your office. The VGA connector features nuts that mate with the screws on standard VGA cables,
          to
          ensure your video cable won’t get disconnected.

        </div>

      </div>
    </div>
  </div>


  <div class="row my-5">
    <div class="text-start font-size fw-bold">Related products</div>

    <div class="col-sm-12 col-lg-12">
        <div class="d-flex justify-content-left align-items-center mt-5">
         <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img src="../../../assets/img/single product icons/Image 10.svg" class="img-fluid card-img" alt="">
            <div class="card-body">
              <div class="card-text">Smart Keyboard for
                10.5inch iPad Pro -
                US English
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="fw-bold">$150.00</div>
                <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
              </div>
            </div>
          </div>
         </div>



         <div class="col-lg-3 col-md-12 col-sm-12 ">
          <div class="card">
            <img src="../../../assets/img/single product icons/Image 10.svg" class="img-fluid card-img" alt="">
            <div class="card-body">
              <div class="card-text">Smart Keyboard for
                10.5inch iPad Pro -
                US English
              </div>
              <div class="d-flex justify-content-between align items-center">
                <div class="fw-bold">$150.00</div>
                <img src="../../../assets/img/single product icons/Group 24906.svg" alt="">
              </div>
            </div>
          </div>
         </div>



          <div class="col-md-12 col-lg-3 col-sm-12">
            <div class="card">
              <img src="../../../assets/img/single product icons/Image 10.svg" class="img-fluid card-img" alt="">
              <div class="card-body">
                <div class="card-text">Smart Keyboard for
                  10.5inch iPad Pro -
                  US English
                </div>
                <div class="d-flex justify-content-between align items-center">
                  <div class="fw-bold">$150.00</div>
                  <img src="../../../assets/img/single product icons/Group 24906.svg" alt="">
                </div>
              </div>
            </div>
  
          </div>


         <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="card">
            <img src="../../../assets/img/single product icons/Image 10.svg" class="img-fluid card-img" alt="">
            <div class="card-body">
              <div class="card-text">Smart Keyboard for
                10.5inch iPad Pro -
                US English
              </div>
              <div class="d-flex justify-content-between align items-center">
                <div class="fw-bold">$150.00</div>
                <img src="../../../assets/img/single product icons/Group 24906.svg" alt="">
              </div>
            </div>
          </div>

         </div>




        </div>
     

    </div>
  </div>
</div>
