<section class="slider">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="header mb-5">
              Explore a new world controlled by artificial intelligence
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="text mb-5">
              From the first moment we have been working to keep up with everything new in the world of modern
              technology,
              and today's smart technologies have the opportunity to have more time,
              relaxation and enjoy a new world towards a smarter future.
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-primary btn-block button border-0 my-5 text-left">Shop Now</button>
          </div>
        </div>

      </div>
      <div class="col-6 d-sm-none d-lg-block">

        <img class="img" src="../../../assets/img/home icons/Mask Group 8.svg" alt="">

      </div>
    </div>
  </div>
</section>

<section>
  <div class="container my-5">
    <div class="row my-5">
      <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
        <div class="background-image">
          <div class="d-flex justify-content-between align-items-center">
            <img src="../../../assets/img/home icons/Mask Group 11.svg" alt="">
            <div class="second-panal-content mb-5 me-4">
              <div class="second-panel-header">Bringing smart solutions</div>
              <div class="panel-text">With samam’s autonomous detection and shutoff system, rest assred that samam
                has
                your home’s safety covered from any LPG
                leakage threats.</div>
              <div class="d-flex justify-content-center align-items-center">
                <div class="panel-price">$20.00</div>
                <img class="ms-2" src="../../../assets/img/home icons/Group 19991.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-sm-12 col-md-12 mb-3">
        <div class="background-image">
          <div class="d-flex justify-content-center align-items-center">
            <div class="panel-content mb-5">
              <div class="panel-header">USB-C to USB Adapter</div>
              <div class="panel-text">The USB-C to USB Adapter lets you connect iOS devices and many of your standard
                USB
                accessories to a </div>
              <div class="panel-price">$159.00</div>
            </div>
            <img src="../../../assets/img/home icons/Group 19980.svg" alt="">

          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-center mt-5">
          <div class="text-start products">Popular products</div>
          <div class="text-end show-more">SHOW MORE</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-5">

        <div class="row">

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 4.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 7.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">

              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 5.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 3.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>




    <div class="row">
      <div class="col-12">
        <div class="text-start products my-3">Search by category</div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 my-5">

        <div class="row">

          <div class="col-sm-6 col-md-6 col-lg-2 my-4">
            <div class="d-lg-flex justify-content-center align-items-center">
              <div class="category-card d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/search by category icons/Group 20011.svg" alt="">
                <div class="category-text">Head Phones</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2 my-4">
            <div class="d-lg-flex justify-content-center align-items-center">
              <div class="category-card d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/search by category icons/Group 20022.svg" alt="">
                <div class="category-text">Phones</div>
              </div>
            </div>
            
          </div>
          <div class="col-sm-6 col-md-6 col-lg-2 my-4">
            <div class="d-lg-flex justify-content-center align-items-center">
              <div class="category-card d-flex flex-column justify-content-center align-items-center">

                <img src="../../../assets/img/search by category icons/Group 20082.svg" alt="">
                <div class="category-text">Accessorise</div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-2 my-4 d-lg-flex justify-content-center align-items-center">
            <div class="category-card d-flex flex-column justify-content-center align-items-center">

              <img src="../../../assets/img/search by category icons/Group 20070.svg" alt="">
              <div class="category-text">Smart watches</div>

            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-2 my-4 d-lg-flex justify-content-center align-items-center">
            <div class="category-card d-flex flex-column justify-content-center align-items-center">
              <img src="../../../assets/img/search by category icons/Group 20058.svg" alt="">
              <div class="category-text mt-4">Laptops</div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12 my-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-start products">Software Products</div>
          </div>
          <div class="col-sm-6">
            <div class="text-end products-types">
              <div class="d-flex justify-content-center align-items-center">
                <div class="text-decoration-underline me-3">Cisco</div>
                <div class="me-3">IBM</div>
                <div class="me-3">Genius</div>
                <div class="me-3">Lenovo</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/img/home icons/Image 11.svg" alt="">
                    <div class="card-body">
                      <div class="card-text">Smart Keyboard for
                        10.5inch iPad Pro -
                        US English
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold">$150.00</div>
                        <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/img/home icons/Image 10.svg" alt="">
                    <div class="card-body">
                      <div class="card-text">Smart Keyboard for
                        10.5inch iPad Pro -
                        US English
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold">$150.00</div>
                        <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/img/home icons/Image 11.svg" alt="">
                    <div class="card-body">
                      <div class="card-text">Smart Keyboard for
                        10.5inch iPad Pro -
                        US English
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold">$150.00</div>
                        <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="card">
                  <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="../../../assets/img/home icons/Image 10.svg" alt="">
                    <div class="card-body">
                      <div class="card-text">Smart Keyboard for
                        10.5inch iPad Pro -
                        US English
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bold">$150.00</div>
                        <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>


      <div class="background-image">
          <div class="row">
            <div class="d-flex justify-content-center align-items-center">
              <img src="../../../assets/img/home icons/Mask Group 13.svg" alt="">
              <div class="mt-5">
                <div class="second-panal-content me-5">
                  <div class="second-panel-header">Bringing smart solutions</div>
                  <div class="panel-text">With samam’s autonomous detection and shutoff system, rest assred that samam
                    has
                    your home’s safety covered from any LPG
                    leakage threats.</div>
                </div>
              </div>
            </div>
          </div>
      </div>


      <div class="col-12 my-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="text-start products">Trending at Taqny</div>
          </div>
          <div class="col-sm-6">
            <div class="text-end products-types">
              <div class="d-flex justify-content-center align-items-center">
                <div class="text-decoration-underline me-3">Cisco</div>
                <div class="me-3">IBM</div>
                <div class="me-3">Genius</div>
                <div class="me-3">Lenovo</div>
              </div>
            </div>

          </div>
        </div>

      </div>



      <div class="col-12">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 2.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 3.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 5.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="card">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/img/searh result/Image 8.svg" class="img-fluid card-img" alt="">
                <div class="card-body">
                  <div class="card-text">Smart Keyboard for
                    10.5inch iPad Pro -
                    US English
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">$150.00</div>
                    <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="row my-5">
              <div class="col-sm-12 col-md-12 col-lg-6 ">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="">
                    <img src="../../../assets/img/home icons/Image 12.svg" alt="">
                  </div>
                  <div class="content ms-5 mb-5">
                    <div class="content-text"> Smart Keyboard for
                      10.5inch iPad Pro -
                      US English</div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fw-bold">$150.00</div>
                      <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-6 mt-sm-4">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="">
                    <img src="../../../assets/img/home icons/Image 14.svg" alt="">
                  </div>
                  <div class="content ms-5 mb-5">
                    <div class="content-text"> Smart Keyboard for
                      10.5inch iPad Pro -
                      US English</div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="fw-bold">$150.00</div>
                      <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-12 background-color p-5">
          <div class="row">
            <div class="col-6 rounded-row light-gray-background ">
              <div class="d-flex justify-content-between align-items-center">
                <div class="icon p-3 me-2">
                  <img src="../../../assets/img/home icons/Path 68290.svg" alt="">
                </div>
                <div class="w-100 ms-2">
                  <div class="fw-bold text w-75">Be updated and know the latest offers & collections in Taqny.</div>
                  <div class="text fs-6">You can unsubscribe at any time.</div>
                </div>
              </div>

            </div>
            <div class="col-6 py-4">
              <div class="d-flex justify-content-center align-items-center white-background ms-2">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">
                    <img src="../../../assets/img/home icons/Group 19832.svg" alt="">
                  </span>
                  <input type="text" class="form-control" placeholder="type your email here" aria-label="email"
                    aria-describedby="basic-addon1">
                </div>
                <button class="btn btn-primary btn-block button border-0 my-5 rounded ">Subscribe</button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row my-5">

        <div class="col-12">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="d-flex justify-content-between align-items-center">
                <div class="text-start need-help">
                  Need help?
                </div>
                <div class="text-end">
                  <img src="../../../assets/img/home icons/Group 20646.svg" alt="">
                </div>
              </div>
              <div class="need-help-text">
                Feel free to communicate with us, We always welcome your queries, We work to serve and help you anytime.
              </div>
              <button class="btn btn-light need-help-btn border-0 btn-block my-3">Contact Us</button>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
              <div class="d-flex justify-content-between align-items-center">
                <div class="text-start need-help">
                  Track your order status
                </div>
                <div class="text-end">
                  <img src="../../../assets/img/home icons/Group 20646.svg" alt="">
                </div>
              </div>
              <div class="need-help-text">
                Follow up on request, through shipment number you can track your order everywhere & anytime .
              </div>
              <button class="btn btn-light need-help-btn border-0 btn-block my-3">Track Order</button>

            </div>
          </div>
        </div>
      </div>
      <div class="row background-cyan my-5">
        <div class="col-4"></div>
        <div class="col-8 last-img">
        </div>
      </div>
    </div>
  </div>
</section>
