<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 class="header pe-5 ">Notifications</h3>

        <div class="status ps-5 my-4">Your order on the way <span class="time ms-3 fw-normal"> 1 min ago</span></div>
        <div class="status ps-5 my-4">Your order on the way <span class="time ms-3 fw-normal"> 1 min ago</span></div>
        <div class="status ps-5 my-4 ">Your order on the way <span class="time ms-3 fw-normal"> 1 min ago</span></div>

      </div>
    </div>

    <div class="col-3">
      <div class=" d-flex flex-column justify-content-center align-items-center">
        <div class="clear">
          <a class="clear text-decoration-none"> Clear All</a>
        </div>
        <div class="my-5">
          <a href="">
            <img src="../../../assets/img/social icons/Group 24821.svg" alt="">
          </a>
        </div>
        <div class=""> <a href="">
            <img src="../../../assets/img/social icons/Group 24821.svg" alt="">
          </a>
        </div>
        <div class=""></div>
      </div>
    </div>

  </div>

</div>
