$color1:#7743DA;
$color2: #FF2F3A;
$color3:#D65167;
$color4:#FFCE00;
$font-color: #F1F1F1;
$font-weight: Regular;
$font-family:IBM Plex Sans;
$background:transparent;




nav{
background-color: #1F1F1F;
//background-color:#7743DA;
// background-image: linear-gradient( 
//     to left,
// $color1,$color2,$color3,$color4) ;
}



.text-color{
    font-family: $font-family;
    font-weight: Regular;
    font-size: 16px;
    color: $font-color;
   
}

.search{
    background:$background ;
   
}
::placeholder{
    color:$font-color;
    font-family: $font-family;
    font-weight: Regular;
  
}
.hr{
    color: $font-color;
   
}

.searh-wrapper{
    max-width: 500px !important;
    width: 100%;
}
.icon {
    padding: 4px;
    //max-width: 80px;
   // width: 100%;
    background: #ffffff3b;    
     border-radius: 50%;
    margin-right: 4px;
    
}

.text{
    color:$font-color;
    font-family: $font-family;
    font-weight: Regular;
}

.item{
    margin-left:20px
}

@media (max-width:576px){
    .hidden-sm{
        display:none
    }
}