<nav class="pt-4 pb-4 ">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <img src="../../../assets/img/Group 19944.svg" routerLink="/">
        <div class="searh-wrapper">
        <div class="form">
          <input type="search" class="form-control search rounded-pill h-3" placeholder="Search anything">
        </div>
        </div>
       <div class="d-sm-none d-lg-block">
        <div class="d-flex justify-content-center">
        
          <div class="icon">
            <img  src="../../../assets/img/Group 20168.png" alt="">
          </div>

          <a>
          <div class="hover-dropdown">
            <button class="border-0 icon"><img src="../../../assets/img/Group 19958.png" alt="">
              <div class="dropdown">
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </button>
          </div>

        </a>
          <div class="icon">
            <img src="../../../assets/Group 199500.png" alt="">
          </div>
          <div class="">
           <button class="border-0 icon" mat-button (click)="openDialog()"><img src="../../../assets/img/Group 19951.png" alt=""></button>
          </div>
        </div>
       </div>
      </div>
      <!-- horizontal line -->
     <div class="d-sm-none d-lg-block">
      <div>
        <hr class="hr">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="">
  
          <div class="d-flex justify-content-center align-items-center">
            <div class="me-4">
              <a class="text-color text-decoration-none" aria-current="page" routerLink="/">Home</a>
            </div>
            <div class="me-4">
              <a class="text-color text-decoration-none " routerLink="/brands">Brands</a>
            </div>
            <div class="me-4">
              <a class="text-color text-decoration-none " routerLink="/wish-list">IT solutions</a>
            </div>
            <div class="me-4">
              <a class="text-color text-decoration-none" routerLink="/result">Hardware</a>
            </div>
            <div class="me-4">
              <a class="text-color text-decoration-none " routerLink="/contact-us">
                <span class="">|</span>
                contact us</a>
            </div>
            <div class="me-4">
              <a class="text-color text-decoration-none " routerLink="/about-us">
                <span class=""></span>
                about us</a>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center ">
          <div class="d-flex align-items-center justify-content-right">
  
            <img src="../../../assets/img/cloud.svg" alt="">
            <div class="text">Cloud cart</div>
          </div>
        <a routerLink="/my-orders" class="text-decoration-none">
          <div class="d-flex align-items-center justify-content-center item">
            <img src="../../../assets/img/Group 20163.svg" alt="">
            <div class="text">Track order</div>
  
          </div>
        </a>
        </div>
      </div>
     </div>
    </div>
</nav>


