<div class="background">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-md-12 my-5">

        <div class="about-us">
          <h1>About us</h1>
          <div class="text-align-start">Taqny is a platform that provides businesses with software and hardware
            solutions to help them
            reach maturity and reach their business goals. we chose the platform to be professional and authentic and we
            strive to become
            a lead in the industry in the targeted countries and
            later in the middle east.</div>
        </div>

        <div class="d-flex justify-content-center mt-4">
          <div class="img">
            <img  src="../../../assets/img/Group icon1 (1).svg" alt="">
          </div>
          <div class="content">
            <h5 class="title">Our Message</h5>
            <div class="text-align-start text">we aim to help businesses reach maturity and achieve their goals by
              providing them with professional software and hardware solutions. </div>
          </div>
        </div>


      <div class="d-flex justify-content-center mt-4">
          <div class="img">
              <img src="../../../assets/img/Group icon1 (2).svg" alt="">
          </div>
        <div class="content">
            <h5 class="title">Our Vision </h5>
            <div class="text-align-start text"> We strive to become the leading platform for business software and
              hardware solutions in the middle east.</div>
          </div>
      </div>
      </div>
      <div class="col-6 d-sm-none d-lg-block logo">
        <!-- <img class="logo" src="" alt=""> -->
      </div>
    </div>
  </div>
