<div class="container">
  <div class="row">
    <div class="col-12 my-5">
     <div class="row">
       <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="text-start header">Wish list (8 Items)</div>
       </div>
     </div>

     
       <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card">
            <div class="text-end">
              <img src="../../../assets/img/my-orders icons/Group 19998.svg" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="../../../assets/img/searh result/Image 4.svg" class="img-fluid card-img" alt="">
              <div class="card-body">
                <div class="card-text">Smart Keyboard for
                  10.5inch iPad Pro -
                  US English
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="fw-bold">$150.00</div>
                  <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
     
      

      


 
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="text-end">
          <img src="../../../assets/img/my-orders icons/Group 19998.svg" alt="">
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="../../../assets/img/my-orders icons/Image 5.svg" class="img-fluid card-img" alt="">
          <div class="card-body">
            <div class="card-text">Smart Keyboard for
              10.5inch iPad Pro -
              US English
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="fw-bold">$150.00</div>
              <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  
      


    
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="text-end">
              <img src="../../../assets/img/my-orders icons/Group 19998.svg" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="../../../assets/img/searh result/Image 4.svg" class="img-fluid card-img" alt="">
              <div class="card-body">
                <div class="card-text">Smart Keyboard for
                  10.5inch iPad Pro -
                  US English
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="fw-bold">$150.00</div>
                  <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                </div>
              </div>
            </div>
          </div> 
        </div>
    

  
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="card">
            <div class="text-end">
              <img src="../../../assets/img/my-orders icons/Group 19998.svg" alt="">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="../../../assets/img/searh result/Image 4.svg" class="img-fluid card-img" alt="">
              <div class="card-body">
                <div class="card-text">Smart Keyboard for
                  10.5inch iPad Pro -
                  US English
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="fw-bold">$150.00</div>
                  <img src="../../../assets/img/searh result/Group 19997.svg" alt="">
                </div>
              </div>
            </div>
          </div> 
        </div>

       </div>
         
    </div>
  </div>
</div>
