<div class="container">
  <div class="row">
    <h2 class="header fs-2 pt-4">Payment DETAILS</h2>
    <div class="d-flex justify-content-evenly align-items-center">
      <div class="col-6">


        <div class="pt-5 ps-4">
          <div class="fw-bolder fs-6 ">Paypal</div>
          <div class="d-flex justify-content-around align-items-center ">
            <div class="">You will be redirected to the PayPal website when you place an order.</div>
            <div class="py-5"><img src="../../../assets/img/visa icons/Image 9.svg" alt=""></div>
          </div>
        </div>
        <!-- radio buttons -->
        <div class="d-flex justify-content-between align-items-center">
          <div class="form-check text chechbox ">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Credit/Debit Card
            </label>
          </div>
          <div class="py-5">
            <img src="../../../assets/img/visa icons/Image 11.svg" alt="">
          </div>
        </div>

        <div class="d-flex justify-content-between align-items-center">
          <div class="form-check text chechbox">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Cash on delivery
            </label>

          </div>
          <div class="py-5"><img src="../../../assets/img/visa icons/Image 11.svg" alt=""></div>
        </div>
      </div>

      <!-- card -->
      <div class="col-6 ps-5">
       <app-order-summary></app-order-summary>
      </div>
    </div>
  </div>
</div>
